<div class="m-3">
    <h6>13. ngIf:</h6>
    <p>
        a. Crie um componente que funcione como um interruptor de luz.
        <br>
        b. Use ngIf para alternar entre as imagens de uma lâmpada acesa e apagada quando o usuário clica no interruptor.
    </p>
    <div class="container">
        <button (click)="toggleLamp()" class="btn btn-primary">
            Interruptor
        </button>
        <div>
            <img *ngIf="lampOn" src="assets/img/lampadaAcesa.jpeg" alt="Lamp On">
            <img *ngIf="!lampOn" src="assets/img/lampadaApagada.jpeg" alt="Lamp Off">
        </div>
    </div>
</div>