<div class="container">
  <h1 class="m-4">{{title}}</h1>
  <div>
    <div class="m-3">
      <h6>1. ngIf:</h6>
      <p>
        a. Crie um componente que contenha uma variável booleana chamada mostrarTexto. Use ngIf para mostrar ou ocultar
        um
        elemento de texto com base no valor de mostrarTexto. Adicione botões que permitam alternar o valor de
        mostrarTexto.
      </p>
      <button (click)="alternarTexto()">
        {{mostrarOcultar}}
      </button>
      <p *ngIf="mostrarTexto">{{texto}}</p>
    </div>

    <!-- lista-tarefas.component.html -->
    <app-lista-tarefas></app-lista-tarefas>

    <!-- exercicio03.component.html -->
    <app-exercicio03></app-exercicio03>

    <!-- exercicio04.component.html -->
    <app-exercicio04></app-exercicio04>

    <!-- exercicio05.component.html -->
    <app-exercicio05></app-exercicio05>

    <!-- exercicio06.component.html -->
    <app-exercicio06></app-exercicio06>

    <!-- exercicio07.component.html -->
    <app-exercicio07></app-exercicio07>

  </div>

  <div class="m-3">
    <h6>8. ngFor:</h6>
    <p>
      a. Crie um componente que exiba uma lista de países e suas respectivas bandeiras.
      b. Use ngFor para iterar pela lista de países e exibir as bandeiras.
      c. Adicione um campo de pesquisa que permita ao usuário filtrar os países à medida que digita.
    </p>
  </div>
  <div class="m-3">
    <h6>9. ngModel:</h6>
    <p>
      a. Crie um componente de lista de tarefas com campos de entrada para adicionar tarefas.
      b. Use ngModel para adicionar tarefas à lista e permitir a exclusão de tarefas existentes.
    </p>
  </div>
  <div class="m-3">
    <h6>10. ngIf:</h6>
    <p>
      a. Crie um componente que exiba um perfil de usuário com detalhes pessoais.
      b. Use ngIf para mostrar informações adicionais apenas quando o usuário escolher exibir mais detalhes.
    </p>
  </div>
  <div class="m-3">
    <h6>11. ngFor:</h6>
    <p>
      a. Crie um componente que exiba uma galeria de imagens.
      b. Use ngFor para criar um loop pelas imagens e permitir que o usuário clique em uma imagem para ampliá-la em um
      modal.
    </p>
  </div>
  <div class="m-3">
    <h6>12. ngModel:</h6>
    <p>
      a. Crie um componente de formulário de registro que permita ao usuário preencher informações pessoais, como
      nome, email e senha.
      b. Use ngModel para vincular os campos de entrada aos valores e adicionar validação básica aos campos.
    </p>
  </div>
  <div class="m-3">
    <h6>13. ngIf:</h6>
    <p>
      a. Crie um componente que funcione como um interruptor de luz.
      b. Use ngIf para alternar entre as imagens de uma lâmpada acesa e apagada quando o usuário clica no interruptor.
    </p>
  </div>
</div>