<div class="container">
  <h1 class="m-4">{{title}}</h1>

  <!-- exercicio01.component.html -->
  <app-exercicio01></app-exercicio01>

  <!-- exercicio02.component.html -->
  <app-exercicio02></app-exercicio02>

  <!-- exercicio03.component.html -->
  <app-exercicio03></app-exercicio03>

  <!-- exercicio04.component.html -->
  <app-exercicio04></app-exercicio04>

  <!-- exercicio05.component.html -->
  <app-exercicio05></app-exercicio05>

  <!-- exercicio06.component.html -->
  <app-exercicio06></app-exercicio06>

  <!-- exercicio07.component.html -->
  <app-exercicio07></app-exercicio07>

  <!-- exercicio08.component.html -->
  <app-exercicio08></app-exercicio08>

  <!-- exercicio09.component.html -->
  <app-exercicio09></app-exercicio09>

  <!-- exercicio10.component.html -->
  <app-exercicio10></app-exercicio10>

  <!-- exercicio11.component.html -->
  <app-exercicio11></app-exercicio11>

  <!-- exercicio12.component.html -->
  <app-exercicio12></app-exercicio12>

  <!-- exercicio13.component.html -->
  <app-exercicio13></app-exercicio13>

</div>