<div class="m-3">
    <h6>12. ngModel:</h6>
    <p>
        a. Crie um componente de formulário de registro que permita ao usuário preencher informações pessoais, como
        nome, email e senha.
        <br>
        b. Use ngModel para vincular os campos de entrada aos valores e adicionar validação básica aos campos.
    </p>
    <div class="container">
        <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
            <div class="form-group col-md-4">
                <label for="username">Nome:</label>
                <input type="text" id="username" class="form-control" [(ngModel)]="user.username" name="username"
                    required>
            </div>
            <div class="form-group col-md-4">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email" required>
            </div>
            <div class="form-group col-md-4">
                <label for="password">Senha:</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password"
                    required minlength="6">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Registrar</button>
        </form>
    </div>

</div>